<%= link_to "All Stores", "/stores" %>

<h1>LCBO Products</h1>


<% @products['result'].each do |p| %>
  <p>
    <%= link_to p['name'], product_path(p['id']) %>
    <%= format_price p['price_in_cents'] %>
    <%= p['primary_category'] %>
  </p>
<% end %>
<%= link_to "All Stores", "/stores" %>
