

<h2> Product Detail </h2>


<p> <%= params %> </p>

<p> <strong>Product Id: </strong><%= @products['result']['id'] %> </p>
<p> <strong> Product Name: </strong> <%= @products['result']['name'] %> </p>
<p><strong>  Price $:</strong> <%= format_price(@products['result']['price_in_cents']) %> </p>
<p> <strong>Inventory count across Stores:</strong> <%= @products['result']['inventory_count'] %> </p>
<p> <strong>Inventory as of:</strong> <%= @products['result']['updated_at'] %> </p>

<p>

</p>


<%= link_to "See Stores", "/stores" %>
<%= link_to "See Products", "/products" %>
